{% extends '@App/index.html.twig' %}
{% block title %}Посты{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" name="search" class="form-control" placeholder="{{ app.request.get('search') }}">
                </div>
                <button type="submit" class="btn btn-default">Поиск</button>
            </form>
        </div>

        {% for post in posts %}
        <div class="jumbotron">
            {% include '@App/Posts/post.html.twig' %}
            <a href="{{ path('post', {post: post.id}) }}">Подробнее...</a>
        </div>

        {% endfor %}
    </div>
{% endblock %}
